* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(221, 232, 242);
}

nav {
    background-color: rgb(209, 238, 250);
    height: 100px;
    width: 100%;
}

.badge {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 4px 7px;
    font-size: 12px;

}

h1 {
    text-align: center;
    padding-top: 10px;
}

#container {
    position: absolute;
    top: 120px;
    left: 45px;
    width: 1250px;
    height: 750px;
    background-color: white;
    border: 2px dotted black;
}

#about {
    margin-left: 15px;
}

h3 {
    margin-top: 30px;
}

p {
    margin-top: 18px;
}

a {
    text-decoration: none;
}

.features-head {
    margin-top: 15px;
    margin-left: 15px;
}

#list {
    margin-top: 30px;
    margin-left: 30px;
}

#list li {
    line-height: 23px;
}

#highlight {
    margin-left: 15px;
    margin-top: 15px;
}

.box {
    border: 1px solid black;
    background-color: rgb(217, 212, 212);
    width: 100px;
    height: 80px;
}

#boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    left: 30px;
    top: 350px;
}

.box p {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 13px;
}

#contact h3 {
    margin-left: 15px;
    margin-top: 150px;
}

#contact input {
    width: 77rem;
    margin-left: 15px;
}

#contact p {
    margin-left: 15px;
}

#pricing h3 {
    margin-left: 15px;
}

table {
    width: 1230px;
    margin-left: 15px;
    margin-top: 15px;
}

th,
td {
    width: 50%;
}

td {
    padding-left: 8px;
}

th {
    text-align: left;
    padding-left: 10px;
}

#footer {
    width: 500;
    background-color: white;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}